
body, h1, p {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

header h1 {
    margin: 0;
}


.container {
    display: flex;
    height: 100vh; 
}

.left-section {
    width: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.video-description p {
    margin: 10px 0;
    font-size: 1.2em;
}

.right-section {
    width: 50%;
    background-color: #e0efff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
}

.image-item {
    margin: 20px 0;
    font-size: 1.2em;
}

.image-item p {
    margin: 5px 0;
}

nav a {
    color: white;
    text-decoration: none;
    margin-right: 15px;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #00bcd4;
}

nav a:visited {
    color: #7b68ee;
}

nav a:active {
    color: red;
}



